

/* ==========================================================================
   Custom styles
   ========================================================================== */

   canvas {
      margin-left:10px;
    }

    /* div[class="row"] {
      outline: 1px dotted rgba(0, 0, 0, 1);
   }

   div[class^="col-"] {
      outline: 1px dotted rgba(255, 0, 0, 0.5);
  } */













